
.idea/CUHacking2020.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/CUHacking2020.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/other.xml
.DS_Store
.idea/other.xml
__pycache__/Basic_Functions.cpython-37.pyc
__pycache__/my_nltk_script.cpython-37.pyc
.idea/other.xml
